/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*
# Project exclude paths
/backend/node_modules/
/backend/node_modules/@socket.io/component-emitter/lib/cjs/index.js
/backend/node_modules/@socket.io/component-emitter/lib/esm/index.js
/backend/node_modules/@socket.io/component-emitter/LICENSE
/backend/node_modules/@socket.io/component-emitter/Readme.md
/backend/node_modules/@types/body-parser/LICENSE
/backend/node_modules/@types/body-parser/README.md
/backend/node_modules/@types/connect/LICENSE
/backend/node_modules/@types/connect/README.md
/backend/node_modules/@types/cors/LICENSE
/backend/node_modules/@types/cors/README.md
/backend/node_modules/@types/express/LICENSE
/backend/node_modules/@types/express/README.md
/backend/node_modules/@types/express-serve-static-core/LICENSE
/backend/node_modules/@types/express-serve-static-core/README.md
/backend/node_modules/@types/http-errors/LICENSE
/backend/node_modules/@types/http-errors/README.md
/backend/node_modules/@types/mime/LICENSE
/backend/node_modules/@types/mime/README.md
/backend/node_modules/@types/node/LICENSE
/backend/node_modules/@types/node/README.md
/backend/node_modules/@types/qs/LICENSE
/backend/node_modules/@types/qs/README.md
/backend/node_modules/@types/range-parser/LICENSE
/backend/node_modules/@types/range-parser/README.md
/backend/node_modules/@types/send/LICENSE
/backend/node_modules/@types/send/README.md
/backend/node_modules/@types/serve-static/
/backend/node_modules/@types/ws/LICENSE
/backend/node_modules/@types/ws/README.md
/backend/node_modules/agent-base/
/backend/node_modules/axios/
/backend/node_modules/cors/
/backend/node_modules/engine.io/
/backend/node_modules/engine.io/build/contrib/base64id.js
/backend/node_modules/engine.io/build/contrib/types.cookie.js
/backend/node_modules/engine.io/build/engine.io.js
/backend/node_modules/engine.io/build/parser-v3/index.js
/backend/node_modules/engine.io/build/parser-v3/utf8.js
/backend/node_modules/engine.io/build/server.js
/backend/node_modules/engine.io/build/socket.js
/backend/node_modules/engine.io/build/transport.js
/backend/node_modules/engine.io/build/transports/index.js
/backend/node_modules/engine.io/build/transports/polling-jsonp.js
/backend/node_modules/engine.io/build/transports/polling.js
/backend/node_modules/engine.io/build/transports/websocket.js
/backend/node_modules/engine.io/build/transports/webtransport.js
/backend/node_modules/engine.io/build/transports-uws/index.js
/backend/node_modules/engine.io/build/transports-uws/polling.js
/backend/node_modules/engine.io/build/transports-uws/websocket.js
/backend/node_modules/engine.io/build/userver.js
/backend/node_modules/engine.io/build/utils/objectFromEntries.js
/backend/node_modules/engine.io-parser/build/cjs/commons.js
/backend/node_modules/engine.io-parser/build/cjs/contrib/base64-arraybuffer.js
/backend/node_modules/engine.io-parser/build/cjs/decodePacket.browser.js
/backend/node_modules/engine.io-parser/build/cjs/decodePacket.js
/backend/node_modules/engine.io-parser/build/cjs/encodePacket.browser.js
/backend/node_modules/engine.io-parser/build/cjs/encodePacket.js
/backend/node_modules/engine.io-parser/build/cjs/index.js
/backend/node_modules/engine.io-parser/build/esm/commons.js
/backend/node_modules/engine.io-parser/build/esm/contrib/base64-arraybuffer.js
/backend/node_modules/engine.io-parser/build/esm/decodePacket.browser.js
/backend/node_modules/engine.io-parser/build/esm/decodePacket.js
/backend/node_modules/engine.io-parser/build/esm/encodePacket.browser.js
/backend/node_modules/engine.io-parser/build/esm/encodePacket.js
/backend/node_modules/engine.io-parser/build/esm/index.js
/backend/node_modules/engine.io-parser/LICENSE
/backend/node_modules/engine.io-parser/Readme.md
/backend/node_modules/es-errors/
/backend/node_modules/es-set-tostringtag/
/backend/node_modules/express/
/backend/node_modules/form-data/
/backend/node_modules/has-symbols/
/backend/node_modules/has-tostringtag/
/backend/node_modules/hasown/
/backend/node_modules/https-proxy-agent/
/backend/node_modules/socket.io/
/backend/node_modules/socket.io/dist/broadcast-operator.js
/backend/node_modules/socket.io/dist/client.js
/backend/node_modules/socket.io/dist/index.js
/backend/node_modules/socket.io/dist/namespace.js
/backend/node_modules/socket.io/dist/parent-namespace.js
/backend/node_modules/socket.io/dist/socket-types.js
/backend/node_modules/socket.io/dist/socket.js
/backend/node_modules/socket.io/dist/typed-events.js
/backend/node_modules/socket.io/dist/uws.js
/backend/node_modules/socket.io-adapter/
/backend/node_modules/socket.io-adapter/dist/cluster-adapter.js
/backend/node_modules/socket.io-adapter/dist/contrib/yeast.js
/backend/node_modules/socket.io-adapter/dist/in-memory-adapter.js
/backend/node_modules/socket.io-adapter/dist/index.js
/backend/node_modules/socket.io-parser/
/backend/node_modules/socket.io-parser/build/cjs/binary.js
/backend/node_modules/socket.io-parser/build/cjs/index.js
/backend/node_modules/socket.io-parser/build/cjs/is-binary.js
/backend/node_modules/socket.io-parser/build/esm/binary.js
/backend/node_modules/socket.io-parser/build/esm/index.js
/backend/node_modules/socket.io-parser/build/esm/is-binary.js
/backend/node_modules/socket.io-parser/build/esm-debug/binary.js
/backend/node_modules/socket.io-parser/build/esm-debug/index.js
/backend/node_modules/socket.io-parser/build/esm-debug/is-binary.js
/backend/node_modules/sqlite/
/backend/node_modules/sqlite3/
/backend/node_modules/undici-types/LICENSE
/backend/node_modules/undici-types/README.md
/frontend/node_modules/
/frontend/node_modules/@alloc/quick-lru/
/frontend/node_modules/@jridgewell/gen-mapping/dist/
/frontend/node_modules/@jridgewell/gen-mapping/LICENSE
/frontend/node_modules/@jridgewell/gen-mapping/README.md
/frontend/node_modules/@jridgewell/gen-mapping/types/gen-mapping.d.cts.map
/frontend/node_modules/@jridgewell/gen-mapping/types/gen-mapping.d.mts.map
/frontend/node_modules/@jridgewell/gen-mapping/types/set-array.d.cts.map
/frontend/node_modules/@jridgewell/gen-mapping/types/set-array.d.mts.map
/frontend/node_modules/@jridgewell/gen-mapping/types/sourcemap-segment.d.cts.map
/frontend/node_modules/@jridgewell/gen-mapping/types/sourcemap-segment.d.mts.map
/frontend/node_modules/@jridgewell/gen-mapping/types/types.d.cts.map
/frontend/node_modules/@jridgewell/gen-mapping/types/types.d.mts.map
/frontend/node_modules/@jridgewell/resolve-uri/
/frontend/node_modules/@jridgewell/sourcemap-codec/dist/
/frontend/node_modules/@jridgewell/sourcemap-codec/LICENSE
/frontend/node_modules/@jridgewell/sourcemap-codec/README.md
/frontend/node_modules/@jridgewell/sourcemap-codec/types/range-mappings.d.cts.map
/frontend/node_modules/@jridgewell/sourcemap-codec/types/range-mappings.d.mts.map
/frontend/node_modules/@jridgewell/sourcemap-codec/types/scopes.d.cts.map
/frontend/node_modules/@jridgewell/sourcemap-codec/types/scopes.d.mts.map
/frontend/node_modules/@jridgewell/sourcemap-codec/types/sourcemap-codec.d.cts.map
/frontend/node_modules/@jridgewell/sourcemap-codec/types/sourcemap-codec.d.mts.map
/frontend/node_modules/@jridgewell/sourcemap-codec/types/strings.d.cts.map
/frontend/node_modules/@jridgewell/sourcemap-codec/types/strings.d.mts.map
/frontend/node_modules/@jridgewell/sourcemap-codec/types/vlq.d.cts.map
/frontend/node_modules/@jridgewell/sourcemap-codec/types/vlq.d.mts.map
/frontend/node_modules/@jridgewell/trace-mapping/dist/
/frontend/node_modules/@jridgewell/trace-mapping/LICENSE
/frontend/node_modules/@jridgewell/trace-mapping/README.md
/frontend/node_modules/@jridgewell/trace-mapping/types/binary-search.d.cts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/binary-search.d.mts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/by-source.d.cts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/by-source.d.mts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/flatten-map.d.cts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/flatten-map.d.mts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/resolve.d.cts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/resolve.d.mts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/sort.d.cts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/sort.d.mts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/sourcemap-segment.d.cts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/sourcemap-segment.d.mts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/strip-filename.d.cts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/strip-filename.d.mts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/trace-mapping.d.cts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/trace-mapping.d.mts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/types.d.cts.map
/frontend/node_modules/@jridgewell/trace-mapping/types/types.d.mts.map
/frontend/node_modules/@socket.io/component-emitter/lib/cjs/index.js
/frontend/node_modules/@socket.io/component-emitter/lib/esm/index.js
/frontend/node_modules/@socket.io/component-emitter/LICENSE
/frontend/node_modules/@socket.io/component-emitter/Readme.md
/frontend/node_modules/@types/prop-types/LICENSE
/frontend/node_modules/@types/prop-types/README.md
/frontend/node_modules/@types/react/LICENSE
/frontend/node_modules/@types/react/README.md
/frontend/node_modules/@types/react/ts5.0/
/frontend/node_modules/@types/react-dom/LICENSE
/frontend/node_modules/@types/react-dom/README.md
/frontend/node_modules/@vitejs/plugin-react/
/frontend/node_modules/agent-base/dist/
/frontend/node_modules/agent-base/README.md
/frontend/node_modules/arg/
/frontend/node_modules/autoprefixer/
/frontend/node_modules/axios/
/frontend/node_modules/baseline-browser-mapping/dist/cli.cjs
/frontend/node_modules/baseline-browser-mapping/dist/index.cjs
/frontend/node_modules/baseline-browser-mapping/dist/index.js
/frontend/node_modules/baseline-browser-mapping/LICENSE.txt
/frontend/node_modules/baseline-browser-mapping/README.md
/frontend/node_modules/browserslist/
/frontend/node_modules/commander/
/frontend/node_modules/csstype/
/frontend/node_modules/engine.io-client/
/frontend/node_modules/engine.io-client/build/cjs/browser-entrypoint.js
/frontend/node_modules/engine.io-client/build/cjs/contrib/has-cors.js
/frontend/node_modules/engine.io-client/build/cjs/contrib/parseqs.js
/frontend/node_modules/engine.io-client/build/cjs/contrib/parseuri.js
/frontend/node_modules/engine.io-client/build/cjs/globals.js
/frontend/node_modules/engine.io-client/build/cjs/globals.node.js
/frontend/node_modules/engine.io-client/build/cjs/index.js
/frontend/node_modules/engine.io-client/build/cjs/socket.js
/frontend/node_modules/engine.io-client/build/cjs/transport.js
/frontend/node_modules/engine.io-client/build/cjs/transports/index.js
/frontend/node_modules/engine.io-client/build/cjs/transports/polling-fetch.js
/frontend/node_modules/engine.io-client/build/cjs/transports/polling-xhr.js
/frontend/node_modules/engine.io-client/build/cjs/transports/polling-xhr.node.js
/frontend/node_modules/engine.io-client/build/cjs/transports/polling.js
/frontend/node_modules/engine.io-client/build/cjs/transports/websocket.js
/frontend/node_modules/engine.io-client/build/cjs/transports/websocket.node.js
/frontend/node_modules/engine.io-client/build/cjs/transports/webtransport.js
/frontend/node_modules/engine.io-client/build/cjs/util.js
/frontend/node_modules/engine.io-client/build/esm/browser-entrypoint.js
/frontend/node_modules/engine.io-client/build/esm/contrib/has-cors.js
/frontend/node_modules/engine.io-client/build/esm/contrib/parseqs.js
/frontend/node_modules/engine.io-client/build/esm/contrib/parseuri.js
/frontend/node_modules/engine.io-client/build/esm/globals.js
/frontend/node_modules/engine.io-client/build/esm/globals.node.js
/frontend/node_modules/engine.io-client/build/esm/index.js
/frontend/node_modules/engine.io-client/build/esm/socket.js
/frontend/node_modules/engine.io-client/build/esm/transport.js
/frontend/node_modules/engine.io-client/build/esm/transports/index.js
/frontend/node_modules/engine.io-client/build/esm/transports/polling-fetch.js
/frontend/node_modules/engine.io-client/build/esm/transports/polling-xhr.js
/frontend/node_modules/engine.io-client/build/esm/transports/polling-xhr.node.js
/frontend/node_modules/engine.io-client/build/esm/transports/polling.js
/frontend/node_modules/engine.io-client/build/esm/transports/websocket.js
/frontend/node_modules/engine.io-client/build/esm/transports/websocket.node.js
/frontend/node_modules/engine.io-client/build/esm/transports/webtransport.js
/frontend/node_modules/engine.io-client/build/esm/util.js
/frontend/node_modules/engine.io-client/build/esm-debug/browser-entrypoint.js
/frontend/node_modules/engine.io-client/build/esm-debug/contrib/has-cors.js
/frontend/node_modules/engine.io-client/build/esm-debug/contrib/parseqs.js
/frontend/node_modules/engine.io-client/build/esm-debug/contrib/parseuri.js
/frontend/node_modules/engine.io-client/build/esm-debug/globals.js
/frontend/node_modules/engine.io-client/build/esm-debug/globals.node.js
/frontend/node_modules/engine.io-client/build/esm-debug/index.js
/frontend/node_modules/engine.io-client/build/esm-debug/socket.js
/frontend/node_modules/engine.io-client/build/esm-debug/transport.js
/frontend/node_modules/engine.io-client/build/esm-debug/transports/index.js
/frontend/node_modules/engine.io-client/build/esm-debug/transports/polling-fetch.js
/frontend/node_modules/engine.io-client/build/esm-debug/transports/polling-xhr.js
/frontend/node_modules/engine.io-client/build/esm-debug/transports/polling-xhr.node.js
/frontend/node_modules/engine.io-client/build/esm-debug/transports/polling.js
/frontend/node_modules/engine.io-client/build/esm-debug/transports/websocket.js
/frontend/node_modules/engine.io-client/build/esm-debug/transports/websocket.node.js
/frontend/node_modules/engine.io-client/build/esm-debug/transports/webtransport.js
/frontend/node_modules/engine.io-client/build/esm-debug/util.js
/frontend/node_modules/engine.io-parser/build/cjs/commons.js
/frontend/node_modules/engine.io-parser/build/cjs/contrib/base64-arraybuffer.js
/frontend/node_modules/engine.io-parser/build/cjs/decodePacket.browser.js
/frontend/node_modules/engine.io-parser/build/cjs/decodePacket.js
/frontend/node_modules/engine.io-parser/build/cjs/encodePacket.browser.js
/frontend/node_modules/engine.io-parser/build/cjs/encodePacket.js
/frontend/node_modules/engine.io-parser/build/cjs/index.js
/frontend/node_modules/engine.io-parser/build/esm/commons.js
/frontend/node_modules/engine.io-parser/build/esm/contrib/base64-arraybuffer.js
/frontend/node_modules/engine.io-parser/build/esm/decodePacket.browser.js
/frontend/node_modules/engine.io-parser/build/esm/decodePacket.js
/frontend/node_modules/engine.io-parser/build/esm/encodePacket.browser.js
/frontend/node_modules/engine.io-parser/build/esm/encodePacket.js
/frontend/node_modules/engine.io-parser/build/esm/index.js
/frontend/node_modules/engine.io-parser/LICENSE
/frontend/node_modules/engine.io-parser/Readme.md
/frontend/node_modules/es-errors/
/frontend/node_modules/es-set-tostringtag/
/frontend/node_modules/esbuild/
/frontend/node_modules/esbuild/lib/main.js
/frontend/node_modules/escalade/dist/
/frontend/node_modules/escalade/license
/frontend/node_modules/escalade/readme.md
/frontend/node_modules/escalade/sync/index.js
/frontend/node_modules/escalade/sync/index.mjs
/frontend/node_modules/form-data/
/frontend/node_modules/fraction.js/
/frontend/node_modules/has-symbols/
/frontend/node_modules/has-tostringtag/
/frontend/node_modules/hasown/
/frontend/node_modules/https-proxy-agent/
/frontend/node_modules/jiti/
/frontend/node_modules/jiti/dist/babel.js
/frontend/node_modules/jiti/dist/jiti.js
/frontend/node_modules/lilconfig/LICENSE
/frontend/node_modules/lilconfig/readme.md
/frontend/node_modules/lilconfig/src/index.js
/frontend/node_modules/lines-and-columns/build/index.js
/frontend/node_modules/lines-and-columns/LICENSE
/frontend/node_modules/lines-and-columns/README.md
/frontend/node_modules/magic-string/
/frontend/node_modules/nanoid/
/frontend/node_modules/nanoid/non-secure/index.cjs
/frontend/node_modules/nanoid/non-secure/index.js
/frontend/node_modules/picocolors/
/frontend/node_modules/pirates/
/frontend/node_modules/postcss/
/frontend/node_modules/postcss-load-config/
/frontend/node_modules/postcss-nested/
/frontend/node_modules/postcss-selector-parser/
/frontend/node_modules/postcss-value-parser/
/frontend/node_modules/react/
/frontend/node_modules/react-dom/
/frontend/node_modules/rollup/
/frontend/node_modules/socket.io-client/
/frontend/node_modules/socket.io-client/build/cjs/browser-entrypoint.js
/frontend/node_modules/socket.io-client/build/cjs/contrib/backo2.js
/frontend/node_modules/socket.io-client/build/cjs/index.js
/frontend/node_modules/socket.io-client/build/cjs/manager.js
/frontend/node_modules/socket.io-client/build/cjs/on.js
/frontend/node_modules/socket.io-client/build/cjs/socket.js
/frontend/node_modules/socket.io-client/build/cjs/url.js
/frontend/node_modules/socket.io-client/build/esm/browser-entrypoint.js
/frontend/node_modules/socket.io-client/build/esm/contrib/backo2.js
/frontend/node_modules/socket.io-client/build/esm/index.js
/frontend/node_modules/socket.io-client/build/esm/manager.js
/frontend/node_modules/socket.io-client/build/esm/on.js
/frontend/node_modules/socket.io-client/build/esm/socket.js
/frontend/node_modules/socket.io-client/build/esm/url.js
/frontend/node_modules/socket.io-client/build/esm-debug/browser-entrypoint.js
/frontend/node_modules/socket.io-client/build/esm-debug/contrib/backo2.js
/frontend/node_modules/socket.io-client/build/esm-debug/index.js
/frontend/node_modules/socket.io-client/build/esm-debug/manager.js
/frontend/node_modules/socket.io-client/build/esm-debug/on.js
/frontend/node_modules/socket.io-client/build/esm-debug/socket.js
/frontend/node_modules/socket.io-client/build/esm-debug/url.js
/frontend/node_modules/socket.io-parser/build/cjs/binary.js
/frontend/node_modules/socket.io-parser/build/cjs/index.js
/frontend/node_modules/socket.io-parser/build/cjs/is-binary.js
/frontend/node_modules/socket.io-parser/build/esm/binary.js
/frontend/node_modules/socket.io-parser/build/esm/index.js
/frontend/node_modules/socket.io-parser/build/esm/is-binary.js
/frontend/node_modules/socket.io-parser/build/esm-debug/binary.js
/frontend/node_modules/socket.io-parser/build/esm-debug/index.js
/frontend/node_modules/socket.io-parser/build/esm-debug/is-binary.js
/frontend/node_modules/socket.io-parser/LICENSE
/frontend/node_modules/socket.io-parser/Readme.md
/frontend/node_modules/source-map-js/
/frontend/node_modules/sucrase/
/frontend/node_modules/tailwindcss/colors.js
/frontend/node_modules/tailwindcss/defaultConfig.js
/frontend/node_modules/tailwindcss/defaultTheme.js
/frontend/node_modules/tailwindcss/lib/
/frontend/node_modules/tailwindcss/lib/css/LICENSE
/frontend/node_modules/tailwindcss/LICENSE
/frontend/node_modules/tailwindcss/loadConfig.js
/frontend/node_modules/tailwindcss/nesting/index.js
/frontend/node_modules/tailwindcss/peers/
/frontend/node_modules/tailwindcss/plugin.js
/frontend/node_modules/tailwindcss/prettier.config.js
/frontend/node_modules/tailwindcss/README.md
/frontend/node_modules/tailwindcss/resolveConfig.js
/frontend/node_modules/tailwindcss/scripts/
/frontend/node_modules/tailwindcss/src/
/frontend/node_modules/tailwindcss/src/css/LICENSE
/frontend/node_modules/tailwindcss/stubs/
/frontend/node_modules/tailwindcss/types/generated/.gitkeep
/frontend/node_modules/tinyglobby/
/frontend/node_modules/tinyglobby/dist/index.cjs
/frontend/node_modules/tinyglobby/dist/index.mjs
/frontend/node_modules/ts-interface-checker/dist/index.js
/frontend/node_modules/ts-interface-checker/dist/types.js
/frontend/node_modules/ts-interface-checker/dist/util.js
/frontend/node_modules/ts-interface-checker/LICENSE
/frontend/node_modules/ts-interface-checker/README.md
/frontend/node_modules/update-browserslist-db/
/frontend/node_modules/vite/